<p>
  Greetings,
</p>

<p>
  We just wanted to let you know that there was a problem billing the credit card on file for one of your customers. You can log into your Stripe dashboard or get in touch with the customer to try and resolve the issue.
</p>
<p>
  <strong>Customer Email:</strong>
  <%= @subscriber.email %>
</p>
<p>
  <strong>Stripe Charge ID:</strong>
  <%= @charge_id %>
</p>

<p>
  Thanks!
</p>