<p>
  <%= @greeting %>,
</p>

<p>
  We just wanted to let you know that there was a problem with your credit card on <%= @app_name %>. We will try to bill your subscription payment 3 times before it is automatically cancelled. Please log in and update your credit card to avoid cancellation.</p>

<p>
  Thanks,
  <br>
  <%= @signature %>
</p>